<ng-container *ngIf="!(loading$ | async)">
  <ng-container *ngIf="todos$ | async as todos">
    <div
      *ngIf="!todos.length"
      class="flex justify-content-center align-items-center pt-4 p-3 text-2xl font-bold"
    >
      No todo found
    </div>
    <div
      *ngFor="let todo of todos"
      class="shadow-3 m-3 py-2 surface-card text-center border-round-sm flex align-items-center justify-content-between px-3 font-semibold"
    >
      <span
        class="material-icons cursor-pointer"
        (click)="onRemoveTodo(todo.id!)"
        >close</span
      >
      <span>{{ todo.title }}</span>
      <mat-checkbox [checked]="todo.done" (change)="onModifyTodo($event, todo)">
      </mat-checkbox>
    </div>
  </ng-container>
</ng-container>
<ng-container *ngIf="loading$ | async">
  <div
    class="pt-4 p-3 flex justify-content-center align-items-center"
  >
    <mat-spinner></mat-spinner>
  </div>
</ng-container>
