<ng-container *ngIf="!(loading$ | async)">
  <ng-container *ngIf="todos$ | async as todos">
    <div
      *ngIf="!todos.length"
      class="col-12 flex justify-content-center align-items-center p-3 text-2xl font-bold"
      style="height: calc(100vh - 72px)"
    >
      No todo found
    </div>
    <div
      *ngFor="let todo of todos"
      class="shadow-3 m-3 py-2 surface-card text-center border-round-sm flex align-items-center justify-content-between px-3 font-semibold"
    >
      <span
        class="material-icons cursor-pointer"
        (click)="onRemoveTodo(todo.id!)"
        >close</span
      >
      <span>{{ todo.title }}</span>
      <mat-checkbox [checked]="todo.done" (change)="onModifyTodo($event, todo)">
      </mat-checkbox>
    </div>
  </ng-container>
</ng-container>
<ng-container *ngIf="loading$ | async">
  <div
    class="col-12 flex justify-content-center align-items-center"
    style="height: calc(100vh - 72px)"
  >
    <mat-spinner></mat-spinner>
  </div>
</ng-container>
